---
import "../styles/global.css";
// Component Imports
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
const allProjects = await getCollection("projects");
---

<BaseLayout
  title="Home - Astro + TailwindCSS"
  description="Welcome to my portfolio website built with Astro and TailwindCSS."
>
  <Hero />
  <!-- <div class="h-svh w-full bg-red-950">
		Placeholder for additional content...
	</div> -->
  <!-- {
    allProjects.map((project) => (
      <div class="mb-4 p-4 border rounded-lg w-80 text-center">
        <h2 class="text-2xl font-bold mb-2">{project.data.title}</h2>
        <p class="mb-4">{project.data.description}</p>
        <Button href={`./project/${project.id}`} variant="primary">
          View Project
        </Button>
      </div>
    ))
  } -->
</BaseLayout>
