---
import { ModeToggle } from "./ModeToggle.tsx";
import IconLight from "./iconLight.astro";
import IconDark from "./iconDark.astro";
import Nav from "./Nav.jsx";
---

<header>
  <nav class="px-4 h-[4em] border-b flex justify-between items-center">
    <!-- react component to render navigation links -->
    <Nav client:load />

    <div class="flex items-center margin-auto">
      <a
        href="/"
        title="Home"
        class="flex items-center justify-center hover:scale-105 transition-transform"
      >
        <div class="block dark:hidden">
          <IconLight />
        </div>

        <div class="hidden dark:block">
          <IconDark />
        </div>
      </a>
    </div>

    <div class="flex-1 flex justify-end">
      <ModeToggle client:load />
    </div>
  </nav>
</header>
