---
import { Button } from "@/components/ui/button";
import { ArrowUpRight, Github } from "lucide-react";
import { SiGithub } from "@icons-pack/react-simple-icons";
import { FaLinkedin, FaEnvelope } from "react-icons/fa";
---

<!-- // TODO: simplify to one single iconlibary -->
<div class="h-[calc(100vh-4rem)] min-h-128 w-full flex flex-col">
  <div class="w-full h-[65%] md:h-[75%]">
    Placeholder Hero Component (for now...)
  </div>
  <div class="w-full h-[35%] md:h-[25%] border-t">
    <div
      class="h-full container mx-auto flex flex-col md:flex-row items-center justify-evenly md:justify-between text-center md:text-left"
    >
      <h1
        class="text-3xl sm:text-5xl md:text-6xl uppercase font-heading font-black"
      >
        Julian<br />Spindola
      </h1>
      <div class="content flex flex-col md:items-end items-center space-y-4">
        <div class="button-group flex space-x-2">
          <Button
            variant="outline"
            size="icon"
            aria-label="View GitHub profile"
          >
            <SiGithub title="GitHub" />
          </Button>
          <Button
            variant="outline"
            size="icon"
            aria-label="View LinkedIn profile"
          >
            <FaLinkedin title="LinkedIn" />
          </Button>
          <Button variant="outline" size="icon" aria-label="Send Email">
            <FaEnvelope title="Email" />
          </Button>
        </div>

        <div class="links flex gap-2">
          <Button className="font-mono lowercase">
            About Me <ArrowUpRight />
          </Button>
          <Button className="font-mono lowercase">
            View Projects <ArrowUpRight />
          </Button>
        </div>
      </div>
    </div>
  </div>
</div>
