---
import { Button } from "@/components/ui/button";
import { ArrowUpRight, Github } from "lucide-react";
import { SiGithub } from "@icons-pack/react-simple-icons";
import { FaLinkedin, FaEnvelope } from "react-icons/fa";
import SocialButtons from "./SocialButtons.astro";
import ButtonLink from "@/components/LinkButton.tsx";
import LinkButton from "@/components/LinkButton.tsx";
import HeroAnimation from "@/components/HeroAnimation.astro";
---

<!-- // TODO: simplify to one single iconlibary -->
<div class="h-[calc(100vh-4rem)] min-h-128 w-full flex flex-col">
  <div class="w-full h-[65%] md:h-[75%]">
    <HeroAnimation />
  </div>
  <div class="w-full h-[35%] md:h-[25%] border-t">
    <div
      class="h-full container mx-auto flex flex-col md:flex-row items-center justify-evenly md:justify-between text-center md:text-left"
    >
      <h1
        class="text-3xl sm:text-5xl md:text-6xl uppercase font-heading font-black"
      >
        Julian<br />Spindola
      </h1>
      <div class="content flex flex-col md:items-end items-center space-y-4">
        <SocialButtons />

        <div class="links flex gap-2">
          <LinkButton href="/about"> About Me </LinkButton>
          <LinkButton href="/projects"> View Projects </LinkButton>
        </div>
      </div>
    </div>
  </div>
</div>
