---

---

<div
  class="w-full max-w-full prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-blue-600 prose-h1:text-xl
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl prose-headings:mt-2 prose-headings:mb-1 prose-headings:font-heading prose-headings:font-bold prose-headings:scroll-mt-20 
  "
>
  <slot />
</div>
