---
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { project: project.id },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{project.data.title} - Astro + TailwindCSS</title>
  </head>

  <body>
    <div class="max-w-3xl mx-auto my-8 p-4">
      <h1 class="text-4xl font-bold mb-4">{project.data.title}</h1>
      <Content />
    </div>
  </body>
</html>
