---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout
  title="Home - Astro + TailwindCSS"
  description="Welcome to my portfolio website built with Astro and TailwindCSS."
>
<h1>Projects Page Placeholder</h1>
</BaseLayout>