---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Projects from "@/components/Projects.tsx";

const projects = await getCollection("projects");
const sortedProjects = projects.sort(
  (a, b) =>
    new Date(b.data.startDate).getTime() - new Date(a.data.startDate).getTime()
);

const allTags = new Set<string>();
projects.forEach((project) => {
  project.data.tags?.forEach((tag) => allTags.add(tag));
});
---

<BaseLayout
  title="Home - Astro + TailwindCSS"
  description="Welcome to my portfolio website built with Astro and TailwindCSS."
>
  <main class="container mx-auto my-8 px-4">
    <h1
      class="text-2xl md:text-3xl lg:text-4xl font-black font-heading uppercase mb-4"
    >
      My Projects
    </h1>
    <Projects
      client:load
      projects={sortedProjects}
      allTags={Array.from(allTags)}
    />
  </main>
</BaseLayout>
