---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Projects from "@/components/Projects.tsx";
import H1 from "@/components/H1.astro";

const projects = await getCollection("projects");
const sortedProjects = projects.sort(
  (a, b) =>
    new Date(b.data.startDate).getTime() - new Date(a.data.startDate).getTime()
);

const allTags = new Set<string>();
projects.forEach((project) => {
  project.data.tags?.forEach((tag) => allTags.add(tag));
});
---

<BaseLayout
  title="Projects - Julian Spindola"
  description="All projects developed by Julian Spindola, a computer science student at Texas A&M University-San Antonio."
>
  <main class="container mx-auto my-8 px-4 min-h-[75vh]">
    <H1 animated={true}>My Projects</H1>
    <Projects
      client:load
      projects={sortedProjects}
      allTags={Array.from(allTags)}
    />
  </main>
</BaseLayout>
