---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Projects from "@/components/Projects.tsx";

const projects = await getCollection("projects");
const sortedProjects = projects.sort(
  (a, b) =>
    new Date(b.data.startDate).getTime() - new Date(a.data.startDate).getTime()
);
---

<BaseLayout
  title="Home - Astro + TailwindCSS"
  description="Welcome to my portfolio website built with Astro and TailwindCSS."
>
  <main class="container mx-auto my-8 px-4">
    <h1>My Projects</h1>
    <Projects projects={sortedProjects} />
    <ul>
      {
        sortedProjects.map((project) => (
          <li>
            <a href={`/projects/${project.id}`}>{project.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
