---
import "@fontsource-variable/outfit";
import "../styles/global.css";
import Header from "../components/Header.astro";
import ThemeScript from "../components/ThemeScript.astro";
interface Props {
  title: string;
  description: string | undefined;
}

const { title, description } = Astro.props as Props;
---

<ThemeScript />
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
